html,
body,
div,
ol,
ul,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
input,
span,
img,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Microsoft YaHei;
}

html,
body,
div {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul,
ol,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

img {
  border: 0 none;
  display: block;
}

/* 下拉框的颜色 */
.el-select-dropdown__item.selected {
  color: #f8b626;
}

.el-button--warning {
  color: #fff;
  background-color: #f8b626;
  border-color: #f8b626;
}

.el-input.is-active .el-input__inner,
.el-input__inner:focus {
  border-color: #dcdfe6;
  outline: #f8b626 solid 2px;
}

.el-dialog__headerbtn:focus .el-dialog__close,
.el-dialog__headerbtn:hover .el-dialog__close {
  color: #f8b626;
}

/* 模态框 */
.el-dialog {
  height: 74%;
  min-height: 500px;
  max-height: 742px;
  border-radius: 5px;
}

.el-dialog__header {
  border-radius: 5px;
}

.el-dialog__body {
  padding: 0 !important;
}

.el-container.is-vertical {
  height: 100%;
}

/* 上传照片模态框 */
@media only screen and (min-width: 1600px) {
  .dialog-photo .el-dialog {
    width: 1420px !important;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .dialog-photo .el-dialog {
    width: 1220px !important;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1400px) {
  .dialog-photo .el-dialog {
    width: 1020px !important;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1100px) {
  .dialog-photo .el-dialog {
    width: 820px !important;
  }
}
@media only screen and (max-width: 900px) {
  .dialog-photo .el-dialog {
    width: 620px !important;
  }
}
.dialog-photo .el-dialog__header {
  padding: 10px 30px;
  background-color: #f1f1f1;
}

.dialog-photo .el-dialog__headerbtn {
  top: 12px;
}

.dialog-photo .el-dialog__body {
  height: calc(100% - 42px);
}

.file-uploads.file-uploads-html4 input,
.file-uploads.file-uploads-html5 label {
  cursor: pointer !important;
}

/* 管理员设置弹窗 */
.dialog-admin .el-dialog {
  width: 74%;
  min-width: 600px;
  max-width: 950px;
}

.dialog-admin .el-dialog__header {
  padding: 10px 20px;
}

.dialog-admin .el-dialog__body {
  height: calc(100% - 52px);
}

.dialog-admin .el-radio-button--mini .el-radio-button__inner {
  font-size: 16px;
  padding: 3px 10px;
}

.dialog-admin .el-table th {
  padding-right: 20px;
}

.dialog-admin .cell {
  margin-right: 20px;
  text-align: center;
  color: #353535;
  font-size: 13px;
}

.dialog-admin .el-table th > .cell {
  margin-right: 0px;
  background-color: #f1f1f1;
}

.dialog-admin .el-table__row .cell {
  padding-right: 30px;
}

.dialog-admin .el-table__row .pw-cell-class .cell {
  padding-right: 10px;
  text-align: center;
  background-color: #f1f1f1;
}

.dialog-admin .el-table__row .role-cell-class .cell {
  padding: 0px;
}

.dialog-admin .el-table__row .retpw-cell-class .cell {
  padding: 0px;
}

.dialog-admin .el-radio-button__orig-radio:checked + .el-radio-button__inner {
  background-color: #f8b626;
  border-color: #f8b626;
  box-shadow: -1px 0 0 0 #f8b626;
}

.dialog-admin .el-radio-button__inner:hover {
  color: #f8b626;
}

.dialog-admin .is-active .el-radio-button__inner:hover {
  color: #fff;
}

.dialog-admin .el-button--warning {
  padding: 4px 13px;
}

.dialog-admin .el-button--mini {
  font-size: 13px;
}

.dialog-admin .el-input__inner {
  height: 22px;
  line-height: 22px;
  padding: 0 5px;
  text-align: center;
  outline: none;
}
