html,
body,
div,
ol,
ul,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
input,
span,
img,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Microsoft YaHei;
}

html,
body,
div {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul,
ol,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0
}

img {
  border: 0 none;
  display: block;
}

/* 下拉框的颜色 */
.el-select-dropdown__item.selected {
  color: #f8b626;
}
